@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Noto Sans', sans-serif;

  --color-primary: #1f1f1f;
  --color-secondary: #808080;
  --color-hover: #272727;
  --color-active: #1b1b1bce;
  --background-primary: #fbb42a;
  --background-secondary: #ffbe3c;
  --border-color: #e5e7eb;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--color-secondary);
  transition: color .3s ease;
}

a:hover {
  color: var(--color-hover);
}

body {
  margin: 0;

  font-size: .9em;
}