@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Noto Sans', sans-serif;

  --color-primary: #1f1f1f;
  --color-secondary: #808080;
  --color-hover: #272727;
  --color-active: #1b1b1bce;
  --background-primary: #fbb42a;
  --background-secondary: #ffbe3c;
  --border-color: #e5e7eb;
}

body {
  margin: 0;
  font-size: .9em;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--color-secondary);
  transition: color .3s ease;
}

a:hover {
  color: var(--color-hover);
}

form {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  background-color: white;
  /* border: 1px solid var(--border-color);
  border-radius: 8px; */
}

label {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
}

label.row {
  flex-direction: row;
  align-items: center;
  
  gap: 8px;
}

input, textarea {
  /* min-width: 350px; */
  margin: 8px 0;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 8px;

  flex: 1;
  resize: none;
}

input:focus, textarea:focus {
  border-color: var(--color-hover);
  outline: transparent;
}