@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

:root {
  /* font-family: 'Noto Sans', sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --color-primary: #1f1f1f;
  --color-secondary: #808080;
  --color-hover: #272727;
  --color-active: #1b1b1bce;
  --background-primary: #fbb42a;
  --background-secondary: #ffbe3c;
  --border-color: #e5e7eb;
  --bg-light: #fafafa;
  --bg-light-secondary: #dddddd; 
  --bg-light-hover: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: .8em;
  min-height: 100vh;
  /* background-color: #ffffff;
  background-image: linear-gradient(to right, #ffc490, #ffc57f); */
  /* background-image: linear-gradient(43deg, #ffe8ce 0%, hsla(36, 100%, 70%, 0.733) 76%, #ffeecf 100%); */
  background: rgb(255, 232, 212);
  background: radial-gradient(circle at 70% 60%, rgba(255, 204, 160, 0.997) 0%, rgb(255, 230, 208) 25%, rgba(255,241,228,1) 50%, rgba(255,249,245,1) 75%, rgb(255, 234, 216)100%);
  /* background: rgb(255,196,144);
  background: linear-gradient(167deg, rgba(255,196,144,1) 0%, rgba(255,230,208,1) 25%, rgba(255,241,228,1) 42%, rgba(255,249,245,1) 73%, rgba(255,255,255,1) 95%); */
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--color-secondary);
  transition: color .3s ease;
}

a:hover {
  color: var(--color-hover);
}

form {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

label {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  width: 100%;
  
}

label.row {
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 8px;
}

input, textarea {
  margin: 8px 0;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 8px;

  flex: 1;
  resize: none;
}

input:focus, textarea:focus {
  border-color: var(--color-hover);
  outline: transparent;
}

input[type="radio"] {
  flex: 0 1 auto;
}

.tableContainer {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  text-align: left;
}

th {
  padding: 8px 16px;
}

td {
  border-top: 1px solid var(--border-color);
  padding: 8px 16px;
}

td.actions {
  text-align: right;
}

tr:hover {
  background-color: var(--bg-light-hover);
}