.lsform {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.formTitle {
  font-size: 2rem;
  font-weight: 700;
  border-bottom: 1px solid var(--border-color);
}

.formLegend {
  color: var(--color-secondary);
  font-size: .9rem;
  font-weight: 400;
  margin: 8px 0;
}