
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.profileIcon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: linear-gradient(158deg, #FFB545, #FFD336);
    cursor: pointer;
}

.dropdown {
    min-width: 100px;
    position: absolute;
    top: 50px;
    right: 100px;
    background-color: white;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: var(--color-primary);
}

.info {
    padding: 4px 8px 12px 8px;
    border-bottom: 1px solid var(--border-color);
}

.infoEmail {
    color: var(--color-secondary);
    font-size: .8em;
}

.dropItem {
    border-radius: 4px;
    transition: all .3s ease;
    padding: 8px;
    cursor: pointer;
}

.dropItem:hover {
    background-color: #f5f5f5;
}